<div>
    <p>Dear New User,</p>
    <p>You have been granted access permission to the Vote Leave campaign software, VICS. To login please go to
        <a href="https://vics.voteleave.uk">https://vics.voteleave.uk</a>.
        To see the tutorial please go to <a href="http://bit.do/VICSCanvassing">http://bit.do/VICSCanvassing</a>.</p>
    <p>If you have questions about use please contact your Regional Director or Constituency Coordinator or use the chat
        window on the website.</p>
    <p>Username: %s<br>Password: %s</p>
</div>
