<section>
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">VICS Admin</h2>
      </div>
    </div>

    <br><br>

    <div class="row">

      <div class="col-sm-6">
        <div class="card text-center link-card">
          <a href="#/users" class="link-card">
            <div class="card-body style-gray link-card">
              <h2 class="text-light"><i class="md md-account-circle"></i></h2>
              <div class="price">
                <h2><span class="text-lg">Users</span></h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card text-center link-card">
          <a href="#/stats" class="link-card">
            <div class="card-body style-gray link-card">
              <h2 class="text-light"><i class="md md-insert-chart"></i></h2>
              <div class="price">
                <h2><span class="text-lg">Stats</span></h2>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
