<section ng-show="contentLoaded">
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary" id="canvassEntry">Canvass Data Input</h2>
      </div>
      <div class="col-lg-8">
        <article class="lead">
          <p>
            Enter the results of your canvassing activities
          </p>
        </article>
      </div>
    </div>

    <!-- No data warning -->
    <div class="row" ng-if="userHasNoAssociations">
      <div class="col-sm-12">
        <div class="alert alert-callout alert-warning" role="alert">
          <strong>Warning!</strong> You do not have any wards associated with your account. This will prevent
          you from submitting canvass data. Please contact your regional director to request access.
        </div>
      </div>
    </div>

    <div class="row" ng-if="!userHasNoAssociations">
      <div class="col-md-6">
        <form class="form" ng-submit="onSubmitRecord()">
          <div class="card">
            <div class="card-head">
              <header>Canvass Entry</header>
              <div class="tools">
                <div class="btn-group">
                  <a class="btn btn-icon-toggle btn-refresh" data-toggle="modal" data-target="#simpleModal"><i
                    class="fa fa-question"></i></a>
                </div>
              </div>
            </div>
            <div class="card-body">

              <div class="form-group">
                <div class="alert alert-callout alert-danger" role="alert" ng-show="errors.length">
                  <p ng-repeat="error in errors">
                    <i class="fa fa-warning"></i> &nbsp;{{error}}
                  </p>
                </div>
              </div>

              <!-- Ward -->
              <div class="form-group">
                <select id="selectWards" class="form-control"
                        ng-model="inputRecordModel.ward"
                        ng-options="ward.name + ' in ' + ward.constituencyName for ward in wards">
                </select>
                <label for="selectWards">Ward</label>
              </div>

              <!-- ERN -->
              <div class="form-group">

                <div class="input-group">
                  <div class="input-group-content ern-spacing">
                    <input id="electorI" type="text" class="form-control" autocomplete="off" uppercased
                           ng-model="inputRecordModel.ern.pollingDistrict">
                    <label for="electorI">Polling District</label>
                  </div>

                  <div class="input-group-content ern-spacing">&mdash;</div>

                  <div class="input-group-content ern-spacing">
                    <input id="electorNum" type="number" autocomplete="off" class="form-control" ng-model="inputRecordModel.ern.number">
                    <label for="electorNum">Elector ID</label>
                  </div>

                  <div class="input-group-content ern-spacing">&mdash;</div>

                  <div class="input-group-content">
                    <input id="electorSuffix" type="text" autocomplete="off" class="form-control" ng-model="inputRecordModel.ern.suffix" uppercased>
                    <label for="electorSuffix">Elector Suffix</label>
                  </div>

                </div>
                <span>
                  <em class="text-caption">Enter the <code class="cursor-hand" data-toggle="modal" data-target="#simpleModal">Roll #</code> from the canvass card without the hyphens</em>
                </span>

                <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidErn">
                  <p>
                    <i class="fa fa-warning"></i> &nbsp;Invalid Elector ID. <a class="btn btn-icon-toggle btn-refresh"
                                                                               data-toggle="modal"
                                                                               data-target="#simpleModal"><i
                    class="fa fa-question"></i></a>
                  </p>
                </div>
                <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidWard">
                  <p>
                    <i class="fa fa-warning"></i> &nbsp;Ward is not selected
                  </p>
                </div>
              </div>

              <!-- Likelihood to vote -->
              <div class="form-group">
                <label class="control-label" style="padding-bottom: 10px">Voting Likelihood</label>
                <div class="row">
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="0"><span>N/A</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="1"><span>1</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="2"><span>2</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="3"><span>3</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="4"><span>4</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.likelihood" name="inlineRadioOptions" value="5"><span>5</span>
                    </label>
                  </div>
                </div>
              </div>

              <!-- Intention to vote -->
              <div class="form-group">
                <label class="control-label">Voting Intention</label>
                <div class="row">
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="0"><span>N/A</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="1"><span>1</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="2"><span>2</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="3"><span>3</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="4"><span>4</span>
                    </label>
                  </div>
                  <div class="col-xs-2">
                    <label class="radio-inline radio-styled">
                      <input type="radio" ng-model="inputRecordModel.intention" name="likelihoodOpt" value="5"><span>5</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="card-actionbar">
                <div class="card-actionbar-row">
                  <button type="submit" class="btn btn-sm btn-danger pull-right">SUBMIT</button>
                </div>
              </div>

              <!-- Key issues checkboxes -->
              <div class="form-group">
                <label class="control-label">Key Issues</label><br>
                <div class="checkbox checkbox-styled checkbox-focus-visible">
                  <label>
                    <input id="costCheckbox1" ng-click="setCheckboxFocus()" type="checkbox"
                           ng-model="inputRecordModel.cost" value="">
                    <span>Cost</span>
                  </label>
                </div>
                <div class="checkbox checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.sovereignty" value="">
                    <span>Control</span>
                  </label>
                </div>
                <div class="checkbox checkbox-styled checkbox-focus-visible">
                  <label>
                    <input class="checkbox-focus" type="checkbox" ng-model="inputRecordModel.border" value="">
                    <span>Border</span>
                  </label>
                </div>
              </div>

              <!-- flags checkboxes -->
              <div class="form-group">
                <label class="control-label">Flags</label>
                <br>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.hasVoted" value="">
                    <span>Has Voted</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.hasPV" value="">
                    <span>Has Postal Vote</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.wantsPV" value="">
                    <span>Wants Postal Vote</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.lift" value="">
                    <span>Needs Lift</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.poster" value="">
                    <span>Will Display Poster</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.inaccessible" value="">
                    <span>Inaccessible</span>
                  </label>
                </div>
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="inputRecordModel.deceased" value="">
                    <span>Deceased</span>
                  </label>
                </div>
                <!-- This intentionally isn't hooked up -->
                <div class="checkbox  checkbox-styled checkbox-focus-visible">
                  <label>
                    <input type="checkbox" ng-model="ignored.moved" value="">
                    <span>Moved</span>
                  </label>
                </div>
              </div>
              <br>

              <div class="form-group">
                <!-- phone -->
                <div class="row">
                  <div class="col-xs-6">
                    <div class="input-group">
                      <div class="input-group-content ern-spacing">
                        <input autocomplete="off" id="phone" type="text" class="form-control" ng-model="inputRecordModel.telephone">
                        <label for="phone">Telephone</label>
                      </div>
                    </div>
                  </div>
                  <!-- email -->
                  <div class="col-xs-6">
                    <div class="input-group">
                      <div class="input-group-content ern-spacing">
                        <input autocomplete="off" id="email" type="text" class="form-control" ng-model="inputRecordModel.email">
                        <label for="phone">Email</label>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="card-actionbar">
              <div class="card-actionbar-row">
                <button type="submit" class="btn btn-sm btn-danger pull-right">SUBMIT</button>
              </div>
              <br><br>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="card">
            <div class="card-head card-head-xs style-primary">
              <header>Search within {{inputRecordModel.ward.name + ' in ' + inputRecordModel.ward.constituencyName}}</header>
            </div>
            <div class="card-body">

              <form class="form" ng-submit="onSearchVoter()">
                <div class="form-group">
                  <div class="input-group col-xs-12">
                    <div class="input-group-content">
                      <input type="text" ng-model="searchForm.surname" class="form-control ocl" id="groupbutton10">
                      <label for="groupbutton10">Surname</label>
                      <p ng-show="invalidSurname" class="validation-error">Please enter a surname</p>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-content">
                      <input type="text" ng-model="searchForm.postcode" class="form-control" id="doublegroupbutton10" uppercased>
                      <label for="doublegroupbutton10">Postcode</label>
                      <p ng-show="invalidPostcode" class="validation-error">Please enter a postcode</p>
                    </div>
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-danger btn-sm" tabindex="-1">SEARCH</button>
                    </div>
                  </div>
                </div>
              </form>

              <!-- Search results empty -->
              <div ng-show="searchResults.length === 0">
                <span class="text-light text-danger">No results</span>
              </div>

              <!-- Search results -->
              <table class="table no-margin table-hover" ng-show="searchResults.length">
                <thead>
                <tr>
                  <th>Roll #</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="voter in searchResults">
                  <td style="min-width: 100px">{{voter.ern | ernToShortForm}}</td>
                  <td>{{voter.full_name}}</td>
                  <td>{{voter | voterAddressFormat }}</td>
                  <td><button type="submit" class="btn btn-sm btn-danger" tabindex="-1"
                              ng-click="onSetSearchedVoter(voter)">
                    Set
                  </button></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="row">
          <form class="form">

            <div class="card">
              <div class="card-head card-head-xs style-primary">
                <header>Log</header>
              </div>
              <div class="card-body">

                <table class="table no-margin table-hover">
                  <thead>
                  <tr>
                    <th>Roll #</th>
                    <th>Reason</th>
                    <th>Result</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="log in logs.elements.slice().reverse()"
                      ng-class="{danger: !log.success, success: log.success}">
                    <td>{{log.ern}}</td>
                    <td>{{log.reason}}</td>
                    <td ng-show="log.success">SUCCESS</td>
                    <td ng-show="!log.success">FAILED</td>
                    <td><button ng-click="onUndo(log)" ng-show="log.success && log.reason !== 'Undone'" class="btn btn-xs btn-danger">UNDO</button></td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Elector ID modal -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Roll # explained</h4>
      </div>
      <div class="modal-body">
        <p>The Elector ID is a compound ID that uniquely identifiers an elector within a given ward. This ID is created
          by the application and is printed on the right column of the canvass card.
        </p>
        <br>
        <p class="text-center text-xxxl">BA-412-2</p>
        <p>Where</p>
        <p>
        <dl class="dl-horizontal">
          <dt>BA</dt>
          <dd>Polling district</dd>

          <dt>412</dt>
          <dd>Elector ID</dd>

          <dt>2</dt>
          <dd>Elector Suffix</dd>

        </dl>
        </p>
      </div>
    </div>
  </div>
</div>
