<section>
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-underline">
          <div class="card-head">
            <header>Reset Password</header>
          </div>
          <div class="card-body">

            <form class="form" ng-submit="onResetPassword()" ng-show="!successfullyRequestedReset">
              <p>Please provide your VICS username to receive email instructions on how to reset your password.</p>

              <p ng-show="userDoesNotExist">
                <span class="text-ultra-bold text-danger">Sorry</span>. We could not find a user with that username / email.
              </p>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-content">
                    <input type="text" ng-model="username" class="form-control" id="username">
                    <label for="username">Username / Email</label>
                  </div>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-sm" tabindex="-1">Submit</button>
                  </div>
                </div>
              </div>
            </form>

            <p ng-show="successfullyRequestedReset">
              We sent an email to <span class="text-ultra-bold">{{username}}</span> with instructions about resetting your password.
            </p>
          </div>
          <div class="card-actionbar">
            <div class="card-actionbar-row">
              <a href="#/login" class="btn btn-sm btn-danger">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
