@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,900);

body, html {
  height: 100%;
  margin: 0;
}

.logo-text {
  margin-left: 12px;
  color: #000;
  font-size: 12pt;
}

.text-white {
  color: white !important;
}

.gui-controls > li > a {
  font-size: 10pt;
}

.menubar-inverse .gui-controls li .title {
  text-shadow: none;
}

.card-disabled {
  background-color: #c6c6c6;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

.multi-select {
  width: 100% !important;
}

.button-group-spacing {
  margin-left: 10px;
}

.spinbox {
  position: relative;
  top: -12px;
}

/* Spinner overrides */
#loading-bar .bar {
  background: #D92C27;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: #c63e32 1px 0 6px 1px;
  -ms-box-shadow: #D92C27 1px 0 6px 1px;
  -webkit-box-shadow: #D92C27 1px 0 6px 1px;
  box-shadow: #D92C27 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #D92C27;
  border-left-color: #D92C27;
}

.countdown {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 250px;
}

.associate-wards-tbl {
  margin-bottom: 1200px;
}

/* Override link highlight in canvass streets search result view */
.list .tile > a:hover {
  color: black !important;
}

/* Override push buttons */
.btn.raised {
  border-radius: 6px !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

/* Range slider overrides */
rzslider .rz-pointer {
  background-color: #D92C27;
}

rzslider .rz-pointer.rz-active:after {
  background-color: #fff9ff;
}

rzslider .rz-bar.rz-selection {
  background: #ff9798;
}

rzslider .rz-ticks .tick.selected {
  background: #ff9798;
}

/* Removes the bootstrap 'blue glow' the slider */
.rz-active {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hl-focus:focus {
  background: #e4e0e2;
}

.switch.checked {
  background: #ff9798;
  border-color: #ff9798;
}

/* Override user agent default select autofill (login) */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #DFE0E0 !important;
  border-bottom: #DFE0E0 solid 1px;
}

.text-danger {
  color: #D92C27;
}

.ern-spacing {
  padding-right: 10px;
}

.cursor-hand:hover {
  cursor: pointer;
}
.pseudo-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-separator {
  margin-left: 5px !important;
}

.checkbox-focus-visible:not(ie8) input:focus ~ span:before {
  width: 20px;
  height: 20px;
  background-color: #c5bdc5;
}

/* egg */
div.egg {
  opacity: 0.75;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

div.game-center {
  width: 100px;
  height: 100px;
  background-color: #D92C27;

  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.list-hover:hover {
  background-color: #f5f5f5;
}

.streetsText {
  font-size: larger;
}

.radio label, .checkbox label {
  margin-bottom: 10px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.stats-cell {
  display: table-cell;
  width: 20%;
  text-align: center;
}

.icon-med {
  font-size: 14pt;
}

.dropdown-override {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.table {
  background-color: white !important;
}

.gold-trophy {
  color: #ddaa2d;
}

.silver-trophy {
  color: #8a8789;
}

.bronze-trophy {
  color: #8a6c47;
}

.empty-trophy {
  color: #e3dde3;
}

.form-control-line::after {
  background-color: #D92C27 !important;
}

#backstretch {
  height: 100% !important;
}

rzslider .rz-ticks .rz-tick.rz-selected {
  background: #D92C27 !important;
}

.worldmap {
  border-radius: 5px;
}

.constmap {
  border-radius: 5px;
  width: 25%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 9em;
  left: 2em;
  z-index: 100;
  padding: 1em;
  text-align: left;
}

div.worldmap.box {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 9em;
  left: 2em;
  z-index: 100;
  padding: 1em;
  text-align: left;
}

div.worldmap.map-scale {
  position: absolute;
  top: 1em;
  left: 2em;
  z-index: 100;
  padding: 1em;
  text-align: left;
  width: 40%;
}

#scale {
  padding: 1.5em 0 0 1.5em;
}

li.key {
  border-top-width: 15px;
  border-top-style: solid;
  font-size: .75em;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}

.wheres-label {
  color: white !important;
}

.wheres-input {
  color: white;
}

.nav-tabs > li {
  background-color: #f9fafa;
}

.nav-tabs .active {
  background-color: white !important;
}

.dropdown-menu > .active > a {
  background-color: #D92C27 !important;
}

.fullPageMargins {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.angular-google-map-container {
  height: 550px;
}

/* map style */
.area {
  fill: #C0C0C0;
  stroke: none;
}

.boundary {
  fill: none;
  stroke: #777;
}

.selected {
  fill: #fff;
  stroke: #777;
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;
}

.link-card:hover {
  cursor: pointer;
  background-color: #D92C27 !important;
  border-color: #D92C27 !important;
  text-decoration: none !important;
}

.leaderboard-loader {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 10% !important;
}

.validation-error {
  position: absolute;
  color: #D92C27;
  bottom: -20px;
  margin: 0;
  opacity: .7;
  font-size: 12px;
}

.tbl-cell-shaded {
  text-align: center;
  background-color: #f1f1f1;
}

.tbl-cell-alt-shaded {
  text-align: center;
  background-color: #ebf1ee;
}

.more-leaderboard {
  color: grey;
  margin-bottom: 0 !important;
}
.text-faded {
  color: grey !important;
  opacity: 0.5 !important;
  font-size: larger;
}

.tbl-cell-hover:hover {
  background-color: #e2e2e2;
}
