<div id='map' style="height: 700px; width: 100% !important; margin: 0 !important; padding: 0 !important;"></div>
<div id='legend' class="constmap box" ng-show="legend.constituency">
  <span class="text-xl text-danger">{{legend.constituency}}</span><br>
  <!--<span class="text-lg">Voters: -</span><br>-->
  <span class="text-lg">Canvassed: {{legend.canvassed}}</span><br>
  <!--<span class="text-lg">Pledges: -</span><br>-->
  <!--<span class="text-lg">Pledges Voted: -</span>-->
</div>
<div class="worldmap map-scale">
  <div id="scale"></div>
</div>

